* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}


.header-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2cm;
}


header .logo {
    height: 50px;
    transition: height 0.3s;
    border-radius: 30cm;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    color: #2980b9;
}